.App {
  text-align: center;
}

h1 {
  font-weight: normal;
}

#tsparticles {
  background-image: linear-gradient(to bottom right, #7C6A0A, #FA9500);
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
